<div class="modal cart-link" data-js-class="FrameworkModal">
  <a tabindex="0" class="toggle {% if settings.cart--type == 'modal' %}modal--link{% endif %}" href="{{ shop.url}}/cart">{{ 'cart.title' | t }}<span class="count">{% if cart.item_count > 0 %}({{ cart.item_count }}){% endif %}</span> </a>

  <div class="fw--cart modal--content spacing--4" data-js-class="FrameworkCart">
    <p class="notification--empty spacing--3">{{ 'cart.empty_html' | t }}</p>

    <form action="/cart" method="post" novalidate="" class="">
      <div class="content fw--blocks"></div>

      <div class="spacer spacing--3y"></div>
      <div class="fw--blocks">
        <div class="width--large-6 text-align--center">
          {% if settings.cart--show-note %}
            <p class="text-align--center text-align--large-left">{{ 'cart.order_notes' | t }}</p>
            <textarea name="note">{{ note }}</textarea>
            <div class="spacer spacing--4y show--small-medium"></div>
          {% endif %}
        </div>

        <div class="width--large-6">
          <p class="text-align--center text-align--large-right">{{ 'cart.shipping_taxes_notification' | t}}</p>
          <div class="spacer spacing--2y"></div>

          <div class="fw--blocks spacing--3 compact--3x list text-align--center text-align--large-right">
            <div><a class="continue-shopping text--underline text--uppercase" href="{{ shop.url }}/collections/all">{{ 'cart.continue' | t }}</a></div>
            <div><button class="button checkout" type="submit" name="checkout">{{ 'cart.checkout' | t }}</button></div>

            {% if additional_checkout_buttons %}
            {% comment %}
              <br />
              <div class="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>{% endcomment %}
            {% endif %}

          </div>
        </div>
      </div>
    </form>
  </div>

</div>