<div
  class="password"
  data-js-class="Password"
  data-section-id="{{ section.id }}"
  data-section-type="password"
>

  <img src="{{ "password-page-background.jpg" | asset_url }}" class="fullscreen-bg-image" />

  <div class="login">
    <a class="login-link" href="">
      {% include 'snippet-symbol' with 'lock' %}
      {{ "general.password.login_link" | t }}
    </a>
    <div class="login-form">
     {% form 'storefront_password' %}

      {{ form.errors | default_errors }}

      <label for="password">{{ "general.password.login_title" | t }}</label>
      <input class="small" type="password" name="password">
      <input class="small button" type="submit" value="Enter">
      <a class="cancel" href="#">{{ "general.password.login_cancel" | t }}</a>

      {% endform %}
    </div>
  </div>

  <div class="row">
    <div class="wrapper columns large-7">
      {% include 'snippet-store-title' %}

      <h2 class="page_title">{{ "general.password.title" | t }}</h2>
      {% if shop.password_message != blank %}
        <p>{{ shop.password_message }}</p>
      {% else %}
        <p>{{ "general.password.sub_title" | t }}</p>
      {% endif %}

      {% if section.settings.password--show-newsletter %}

        <div class="mailing_list">
          {% if section.settings.mailing-list--title != blank %}
            <div class="password-page--mailing-list--title rte-content">{{ section.settings.mailing-list--title }}</div>
          {% endif %}

          {% form 'customer' %}
            {% if form.errors %}
            <p class="error feedback">
            {% for field in form.errors %}
              {{ field }} {{ form.errors.messages[field] }}
            {% endfor %}
            </p>
          {% endif %}
          <input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter" />
          <input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Subscriber" />
          <input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Newsletter" />
          <input class="small" type="email" placeholder="{{ 'general.password.mailing_list_placeholder' | t }}" name="contact[email]" />
          <input class="button prefix small" type="submit"  value="{{ 'general.password.mailing_list_button' | t }}" name="subscribe" id="email-submit" />
        {% endform %}
      {% endif %}

      <div class="powered_by">
        {% capture shopify %}
        <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
          {% include 'snippet-symbol' with 'shopify-logo' %}
          <span class="shopify-name">Shopify</span>
        </a>
        {% endcapture %}
        {{ 'general.password.powered_by_shopify_html' | t: shopify: shopify }}
      </div>
    </div>
  </div>

</div> <!-- .password -->

<style>
  html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fafafa !important;
  }

  .section--password .logo-image {
    height: #{'{{ section.settings.logo-height }}'}px;
  }
</style>

{% schema %}
{
  "name": "Password page",
  "class": "section--password",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "1600 x 200px max"
    },
    {
      "label": "Image Height",
      "id": "logo-height",
      "type": "range",
      "min": 15,
      "max": 100,
      "step": 5,
      "default": 50,
      "info": "This is referring to the natural height and should be half the height of the image you uploaded to ensure it stays sharp on retina screens."
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "password--show-newsletter",
      "label": "Show signup form",
      "default": true
    },
    {
      "id": "mailing-list--title",
      "label": "Heading",
      "type": "richtext",
      "default": "<p>Sign up to our mailing list</p>"
    }
  ]
}
{% endschema %}